.hoverCursor{
  cursor: pointer; /*меняем вид курсоа при наведении на иконки связи*/
}
/* -------------------Gamburger-menu--------------------------- */
@mixin burgerZnachok($sizeFont) {
  font-size:$sizeFont;
  position: absolute;
  right:250px;    
  top:45px;
  background:none;
  font-weight:bold;
  outline:none;
  z-index:10000000000000;
  @extend .hoverCursor;
}

.hamburger{
  @include burgerZnachok(2em);
}
.cross{
  @include burgerZnachok(3em);
}

.hamburger.page_animals{
  top:50px;
}
.cross.page_animals{
  top:50px;
}